body{
    background:#ac7f9f;
    font-family: Times, Verdana, Courier;
    
}

h1, h2{
   font-family: Times, Verdana, Courier;
   color: #eae04b;
}

p{
    background: darkgray;
    color: goldenrod;
    padding: 15px;
}
li{
  padding: 15px;
  }